@model IEnumerable<Team9.Models.AlbumReportViewModel >
@using Team9.Models

@{
    ViewBag.Title = "Index";
}

<h2>Album Revenues</h2>

<h2>Album</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Album.AlbumName )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Album.AlbumArtist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Album.AlbumGenre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.purchaseCount )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlbumRevenue)
        </th>

    </tr>

    @foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Album.AlbumName)
                </td>
                <td>
                    @foreach (Artist a in item.Album.AlbumArtist)
                    {
                        <span>@a.ArtistName *</span>
                    }
                </td>

                <td>
                    @foreach (Genre g in item.Album.AlbumGenre)
                    {
                        <span>@g.GenreName *</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.purchaseCount ) 
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AlbumRevenue )
                </td>
            </tr>
    }

</table>


