@model Team9.Models.Purchase
    @using Team9.Models

@{
    ViewBag.Title = "Details";
}

<h2>Checkout</h2>

<div>
    <dt>SubTotal:</dt>
    <dd> @ViewBag.subtotal</dd>
</div>

@if (ViewBag.discountSubtotal == "-1")
{
    <div>
        <dt>Discount SubTotal:</dt>
        <dd> @ViewBag.discountSubtotal</dd>
    </div>
}
<dt>
    Tax (8.5%)
</dt>

<dd>
    @ViewBag.taxTotal
</dd>

<dt>
    Grand Total:
</dt>
<dd>
    @ViewBag.grandTotal
</dd>

<div class="form-group">
    <label class="control-label col-md-2">SelectCreditCard</label>
    <div class="col-md-10">
        @Html.DropDownList("CreditCardId", (SelectList)ViewBag.SelectCreditCards, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.PurchaseUser.CreditCard2, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.PurchaseUser.CreditCard2, new { @class = "form-control" })
    </div>
</div>


