@model IEnumerable<Team9.Models.GenreReportViewModel >
@using Team9.Models

@{
    ViewBag.Title = "Index";
}

<h2>Song Revenues</h2>

<h2>Songs</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genre.GenreName )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.topArtist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.songCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.songRev)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.albumCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.albumRev)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalRev)
        </th>

    </tr>

    @foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.GenreName )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.topArtist )
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.songCount )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.songRev ) 
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.albumCount )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.albumRev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.totalRev)
                </td>
            </tr>
    }

</table>


