@model IEnumerable<Team9.Models.SongIndexViewModel>
@using Team9.Models


@{
    ViewBag.Title = "MyMusic";
}

<h2>My Music</h2>

@using (Html.BeginForm())
{
    <p class="form-group">
        Search: @Html.TextBox("SongString", null, new { @class = "form-control" }) <br />
        <input type="submit" value="Search" class="btn btn-default" />
        @Html.ActionLink("Search By Genre", "MyMusicDetailedSearch", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Show All", "MyMusic", null, new { @class = "btn btn-default" })

    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Song.SongName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Song.SongArtist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Song.SongGenre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Song.SongAlbum)
        </th>


        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Song.SongName)
            </td>

            <td>
                @foreach (Artist a in item.Song.SongArtist)
                {
                    <span>@a.ArtistName *</span>
                }
            </td>

            <td>
                @foreach (Genre a in item.Song.SongGenre)
                {
                    <span>@a.GenreName *</span>
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Song.SongAlbum.AlbumName)
            </td>



        </tr>

    }

</table>