@model Team9.Models.Song

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SongName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SongAlbum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongAlbum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SongPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SongLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongLength)
        </dd>

        <dt>
            Average Rating
        </dt>

        <dd>

            @ViewBag.AverageSongRating

        </dd>

    </dl>
</div>
<div>
    <table class="table table-bordered">
        <tr>
            <th>
                Song Artist(s)
            </th>
        </tr>
        @foreach (var item in Model.SongArtist)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ArtistName)</td>
            </tr>
        }
    </table>
</div>


<div>
    <table class="table table-bordered">
        <tr>
            <th>
                Song Genre
            </th>
        </tr>
        @foreach (var item in Model.SongGenre)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.GenreName)</td>
            </tr>
        }
    </table>
</div>


<div>
    <table class="table table-bordered">
        <tr>
            <th>
                Song Rating
            </th>
            <th>
                Song Comments
            </th>
        </tr>
        @foreach (var item in Model.SongRatings)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.RatingValue)</td>
                <td>@Html.DisplayFor(modelItem => item.RatingText)</td>

            </tr>
        }
    </table>
</div>
<div>
    @Html.ActionLink("Add to Cart", "addSongToCart", new { id = Model.SongID }, new { @class = "btn btn-success" })
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SongID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SongID }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Review Song", "ReviewSong", "Songs", new { id = Model.SongID }, null)
</p>