@model IEnumerable<Team9.Models.SongIndexViewModel>
    @using Team9.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @using (Html.BeginForm())
    {
    <p class="form-group">
        Search: @Html.TextBox("SongString", null, new { @class = "form-control" }) <br />
        <input type="submit" value="Search" class="btn btn-default" />
        @Html.ActionLink("Advanced Search", "SongDetailedSearch", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-default" })
        
    </p>
    }

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>Displaying @ViewBag.SelectedSongCount of @ViewBag.TotalSongCount <p />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Song.SongName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Song.SongPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Song.SongLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Song.SongAlbum.AlbumName )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Song.SongArtist )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SongRating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Song.SongName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Song.SongPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Song.SongLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Song.SongAlbum.AlbumName )
        </td>
        <td>
            @foreach (Artist a in item.Song.SongArtist)
                {
                <span>@a.ArtistName *</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SongRating)
        </td>


        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Song.SongID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Song.SongID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Song.SongID })
        </td>
    </tr>
}

</table>
